body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    }
    /* Global Styles */
    body {
    font-family: 'Times New Roman', Times, serif, sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif,bold;
    line-height: 2.0;
    color:darkblue
    }
    header {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .logo img {
    max-width: 100px;
    height: auto;
    }
    .header-content {
    text-align: left;
    }
    nav {
    background-color: #444;
    }
    .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    }
    .menu li {
    margin: 0 1rem;
    position: relative;
    }
    .menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    }
    .menu a:hover {
    color: #ff9900;
    }
    .submenu-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: orange;
    z-index: 1;
    }
    .submenu:hover .submenu-content {
    display: block;
    }
    main {
    padding: 2rem;
    }
    .department {
    margin-bottom: 2rem;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    }
    footer {
    text-align: center;
    padding: 1rem 0;
    background-color: grey;
    color: black;
    }
    .social-links a {
    color: green;
    text-decoration: none;
    margin: 0 10px;
    }
    /* Media Queries */
    @media screen and (max-width: 600px) {
    header {
    flex-direction: column;
    }
    .logo {
    margin-bottom: 1rem;
    }
    }
body{
    background-image:url("real.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Times New Roman', Times, serif, Helvetica, sans-serif;
    line-height: 1.6;
   
}